.app {
    padding: 5rem 0;

    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;


        &__download {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            border-radius: 1.5rem;
            padding: .5rem 1rem;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
            margin-bottom: 1rem;
            background-color: #eee;



            &-text {
                width: 45%;

                &__title {
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: #14286d;
                }

                &__subtitle {
                    font-size: 1.1rem;
                    margin-top: 1rem;
                    color: #aaa;
                }

                ul {
                    padding-right: 1rem;
                }

                &__btn {
                    display: flex;
                    flex-direction: column;

                    a {
                        width: 50%;
                        margin: 1rem 0;
                        background-color: #14286d;
                        padding: .8rem;
                        border-radius: 1.5rem;
                        color: #efefef;
                        font-weight: bold;


                        img {
                            margin-right: .5rem;
                        }
                    }
                }

            }

            &-img {
                width: 55%;

                img {
                    width: 500px;
                }
            }


        }

        &__newsletter {
            width: 60%;
            border-radius: 1.5rem;
            background-color: #eee;
            padding: .7rem 1rem;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);



            &-title {
                font-size: 1.2rem;
                font-weight: 500;
                color: #14286d;


            }

            &-subtitle {
                font-size: 1.4rem;
                font-weight: bold;
            }

            &-desc {
                width: 90%;
                text-align: justify;
                font-size: .9rem;
                margin-top: .5rem;
            }

            &-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;



                input {
                    width: 100%;
                    margin-bottom: .5rem;
                    border: none;
                    outline: none;
                    border-radius: .5rem;
                    padding: .8rem;
                }

                button {
                    width: 100%;
                    border: none;
                    border-radius: .5rem;
                    padding: .8rem;
                    margin: 1rem 0;
                    background-color: #14286d;
                    color: #fefefe;
                    font-weight: bold;
                    transition: all .4s ease-in-out;

                    &:hover {
                        background-color: #ffdb07;
                        color: #252525;
                        transition: all .4s ease-in-out;

                    }
                }
            }
        }

        &__address {
            width: 35%;
            border-radius: 1.5rem;
            background-color: #eee;
            padding: .5rem 1rem;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
            color: #252525;
            line-height: 3rem;



            &-detail {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 1rem 0;

                &__text {
                    margin-left: 1rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #252525;
                }

                &__icon {
                    color: #14286d;
                }

            }
        }
    }
}