.intro {
    padding: 7rem 0;

    &-container {
        padding: 1rem;
        margin: 0 auto;
        width: 75%;

        &__title {
            font-size: 2.2rem;
            font-weight: 600;
            color: #252525;
        }

        &__box {
            width: 100%;
            border-radius: 1.5rem;
            margin-top: 1rem;
            padding: 1rem;
            background-color: #14286d;
            color: #fefefe;

            &-header {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &__tab {
                    margin: 1rem 1.4rem;
                    background-color: #eee;
                    color: #252525;
                    border-radius: 1.5rem;
                    width: 150px;
                    text-align: center;
                    padding: .8rem 0;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    &.active-tab {
                        background-color: #ffdb07;
                        color: #252525;
                        transition: all .4s ease-in-out;
                        font-weight: bold;

                    }

                }
            }

            &-body {
                padding: 1.3rem .5rem;

                &__text {
                    opacity: 0;
                    display: none;
                    margin: 0 .8rem;
                    font-size: 1.2rem;
                    font-weight: 300;
                    transition: all .4s ease-in-out;


                    &.active-text {
                        opacity: 1;
                        display: block;
                        transition: all .4s ease-in-out;
                    }
                }
            }
        }


        @media screen and (max-width : 1024px) {
            width: 100%;
            padding: .5rem 0.2rem;

            &__title {
                font-size: 1.5rem;
            }

            &__box {
                padding: .5rem .2rem;

                &-header {

                    &__tab {
                        margin: 1rem .5rem;
                        font-size: .95rem;
                    }
                }

                &-body {

                    &__text {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}