.navbars {
    padding: 1rem;

    &-items {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__right,
        &__left {
            display: flex;
            align-items: center;

            &-logo {
                font-size: 1.5rem;
                font-weight: bold;
            }

            &-text {
                margin: 0 1rem;
                font-size: 1.1rem;
                font-weight: 400;
            }

            &-btn {
                width: 150px;
                height: 45px;
                border: none;
                border-radius: .5rem;
            }

            &-number{
                margin-left: 1rem;
            }
        }
    }
}